body{
    margin:0px;
    min-width: 850px;
    background-color: #FEF9F8;
}
.team__mainpage {
    margin-left: 180px;
}

.team__topNav {
    display: flex;
    background-color: white;
}
.team__topNav__flexGrow{
    flex-grow: 1;
}
#kkkl{
    margin-left: 100px;
}
.team__navA {
    display: flex;
    width: 100%;
    height: 66px;
    padding-left: 30px;
    line-height: 35px;
    background-color: white;
    border-bottom: 1px solid #E8E8E8;
}


.team__navA__title{
    margin-right:25px !important;
}
.team__navA>p {
    margin-right:18px;
}

.team__navA>p:hover {
    color: gray;
}

.team__navA>p:nth-of-type(1) {
    font-weight: bold;
    color: rgb(58, 2, 58);
}

.team__navA>p:nth-of-type(2) {
    color: rgb(82, 2, 82);
}

.team__navA>button {
    background-color: #DD6FD1;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    height:35px;
    width:140px;
    margin:15px 50px 0 0;
}

.team__navA>button:hover {
    background-color: #b55bab;
}

.team__navA>button>i {
    margin-right: 5px;
}

.team__navB {
    display: flex;
    box-shadow: 5px 5px 10px #E7E3E2;
    background-color: white;
    width: 100%;
    height: 45px;
    padding: 5px 0 0 20px;
}

.team__navB>button {
    display: flex;
    flex-basis: 80px;
    border: none;
    background-color: white;
    outline: none;
    height: 85%;
    padding:0 10px;
}

.team__navB>button:hover {
    background-color: #ebe7eb;
    border-radius: 10px;
}

.team__navB>button>i {
    margin: 10px 10px 0px 0px;
    font-size: 15px;
    background-color: rgb(176, 159, 182);
    color: white;
    padding: 3px;
}

.team__navB>button>p {
    margin: 12px 5px 0px 0px;
}

.team__navB>p {
    margin: 12px 10px 0px 0px;
}

.team__navB .dropbtn {
    margin: 5px 10px 5px 12px;
    border: 1px solid gray;
    padding: 15px;
    padding-top: 8px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    height: 30px;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    padding-bottom:8px ;
}

.dropdown-content a {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    margin:0 10px;
}

.dropdown-content a:hover {
    background-color: #e0dddd;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.team__sectionA {
    margin-top: 20px;
    background-color: white;
}

.team__sectionAa {
    display: flex;
    height: 50px;
    margin-left: 20px;
    width: 100%;
    font-size: 11px;
    line-height:30px;
    color:#95899B;
}
.team__sectionA__divider{
    border-bottom: 1px solid #E8E8E8;
}

.team__sectionAb {
    display: flex;
    width: 100%;
    margin-left:20px;
    height:50px;
}

.team__sectionAb:hover {
    background-color: rgb(231, 230, 230);
}

.team__sectionAb>p {
    color: black;
    font-size: 14px;
    font-weight: normal;
}

.team__sectionAb>p:nth-of-type(2)>span:nth-of-type(1) {
    color: gray;
}

.team__spider {
    text-align: center;
}

.team__sectionAb__name {
    display: flex;
}
.team__name{
    width:25%;
    overflow:hidden;
}
.team__email{
    width:25%;
    overflow:hidden;
}
.team__access{
    width: 20%;
    overflow:hidden;
}
.team__group{
    width:15%;
    overflow:hidden;
}


.team__sectionAb__name p:nth-of-type(1) {
    background-color: rgb(39, 45, 48);
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
    margin: 10px 5px 0px 0px;
    height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.team__spider__content {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
}

.team__spider__content span {
    font-size: 25px;
}