* {
    margin: 0;
    padding: 0;
  }
  
  #underNavbar2-rightnav {
    display: inline-block;
    text-align: center;
    margin-top: 57px;
    padding: 0px 37px;
    transform: translateY(-240%);
  
  }
  
  .tryforfreeBtn button {
    font-family: "GT Haptik Medium", sans-serif;
    font-size: 1.1rem;
    padding: 14px 35px;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 26px;
    border: 0px;
    cursor: pointer;
    display: flex;
    height: 52px;
    transition: background-color 150ms linear 0s, color 150ms linear 0s;
    background-color: rgb(252, 229, 216);
    color: rgb(229, 124, 216);
  }
  
  .tryforfreeBtn button:hover {
    background-color: rgb(86, 66, 96);
  }
  
  
  
  
  /* *, *::before, *::after {
      box-sizing: border-box;
  } */
  /* #underNavbar2-div1 img{
      width: 20%;
      cursor: pointer;
  } */
  #header1 {
    width: 100%;
    pointer-events: none;
  }
  
  @media (min-width: 1200px) {
    .navbar2 {
      height: 84px;
    }
    .child2-insider{
      padding: 0px 40px;
      flex-wrap: nowrap;
      height: 110px;
    }
    .child2-insider p{
      max-width: 150px;
      margin-bottom: 0px;
    }
  }
  
  @media (min-width: 800px) {
    .child2-insider{
      display: flex;
      flex-wrap: wrap;
      background-color: rgb(65, 42, 76);
    }
    .child2-insider p{
      width: 100%;
      line-height: 1.5;
      font-size: clamp(0.95rem, 1vw, 1rem);
      margin-right: 80px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
    }
  .footer2{
    display: inherit;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
  }
  .footer3{
    padding: 20px 40px;
    height: 15px;
  }
    .signupBtn {
      height: 52px;
    }
  
    .heading1 {
      padding: 80px 0px;
    }
  
    .heading1 {
      margin: 105px auto 0px;
      max-width: 1200px;
    }
  
    .heading1 {
      position: relative;
    }
  
    .first-heading {
      font-family: "GT Haptik Medium", sans-serif;
      font-weight: 400;
      line-height: 1.1;
      margin-left: 170px;
      font-size: clamp(2.5rem, 4.9vw, 5rem);
      color: rgb(255, 243, 237);
      margin-bottom: 25px;
      text-align: center;
    }
  
    .first-description {
      margin-bottom: 30px;
    }
  
    .form-direct-btn {
      height: 52px;
    }
  
    .form-div5 a {
      height: auto;
      color: rgb(252, 229, 216);
    }
  
  
  
    #navbar1 {
      display: flex;
      justify-content: flex-end;
      height: 31px;
      background-color: #E57CD8;
    }
  
    .navbar2 {
      display: block;
      height: 105px;
      pointer-events: all;
      position: sticky;
      top: 0px;
    }
  
    .backimage-div {
      margin-top: -84px;
    }
  
  
    .underNavbar2 {
      flex-wrap: wrap;
      height: 105px;
      background-color: transparent;
      border-bottom: none;
    }
  
    .underNavbar2 {
      display: flex;
      align-items: center;
      gap: 20px;
      height: 84px;
      margin: 0.2px;
      padding: 0px 30px;
      background-color: #2C1338;
    }
  
    .logo {
      display: contents;
      cursor: pointer;
    }
  
    .underNavbar2 img {
      width: 10%;
    }
  
  
  
    .belowinsider {
      display: inherit;
    }
  
    button,
    .underNavbar2 a {
      display: flex;
      align-items: center;
      line-height: 1.5;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0px;
      color: white;
      font: bold;
      font-size: large;
      text-decoration: none;
    }
  
  
    #pricing:hover {
      color: #E57CD8;
    }
  
    .insider {
      margin-left: 10px;
      width: 0px;
      height: 0px;
      border-bottom-color: rgb(255, 243, 237);
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid;
    }
  
  
  
    #mid-background {
      padding-bottom: 130px;
      background-color: rgb(65, 42, 76);
    }
  
    #form-table {
      width: 600px;
      padding: 58px 45px 45px;
      margin: 0px auto;
      transform: translateY(-80px);
      z-index: 10000;
    }
  
    .form-div1 {
      flex-direction: row;
    }
  
  
    .form-div1>button {
      margin: 20px;
    }
  
  }
  .child2-insider{
    padding: 25px 30px;
    background: rgb(65, 42, 76);
  }
  .child2-insider p {
    font-size: 0.875rem;
      line-height: 1.35;
  }
  .form-div4 {
    text-align: right;
    margin-top: 15px;
  }
  
  .forgotpassword {
    border-bottom: 1px solid rgb(229, 124, 216);
    display: inline-block;
  }
  
  .navbar2 {
    flex-wrap: wrap;
    height: 64px;
    position: relative;
    width: 100%;
  }
  
  
  
  
  .form-div1 button {
    margin-top: 30px;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
  }
  
  .form-div1 button:hover {
    background: rgb(255, 243, 237);
  }
  
  .form-div1-btn {
    font-family: "GT Haptik Medium", sans-serif;
    font-size: 1rem;
    background: white;
    border: none;
    color: rgb(44, 19, 56);
    width: 286px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 52px;
    cursor: pointer;
    border-radius: 50px;
  }
  
  .first-description {
    line-height: 1.5;
    font-size: clamp(1.0125rem, 1.25vw, 1.125rem);
    color: rgb(255, 243, 237);
    text-align: center;
    margin-bottom: 15px;
  }
  
  .heading1>div:nth-of-type(1) {
    animation: 300ms ease-in-out 0s 1 normal none running animation-1wcrnca;
  }
  
  /* p, h1, h2, h3, h4, h5 {
    margin: 0;
    color: #FCE5D8;
  } */
  
  .backimage-div {
    position: relative;
    min-height: 136px;
  }
  
  .backimage-div>div>img,
  .backimage-div>div>.backimage-underdiv1,
  .backimage-div>.backimage-underdiv1 {
    width: 100%;
    height: 100%;
    position: absolute !important;
  }
  
  .backimage-underdiv1 img {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  
  .backimage-underdiv1 {
    overflow: hidden;
  }
  
  button:hover {
    text-transform: none;
  }
  
  #form-table {
    background-color: rgb(44, 19, 56);
  }
  
  .form-div1 {
    display: flex;
  }
  
  .form-div2 {
    display: inline-block;
    width: 100%;
    margin-top: 25px;
  }
  
  .underform-div2 label {
    display: inline-block;
    text-align: left;
    line-height: 1.5;
    font-size: clamp(0.95rem, 1vw, 1rem);
    color: rgb(252, 229, 216);
    margin-bottom: 10px;
  }
  
  .form-div2 input {
    border-color: rgb(246, 108, 108);
    width: 95%;
    background-color: rgb(44, 19, 56);
  }
  
  .form-div3 input {
    border-color: rgb(246, 108, 108);
    width: 95%;
    background-color: rgb(44, 19, 56);
  }
  
  input {
    width: 95%;
  }
  
  .form-div3 {
    display: inline-block;
    width: 100%;
    margin-top: 25px;
  }
  
  .underform-div3 label {
    display: inline-block;
    text-align: left;
    line-height: 1.5;
    font-size: clamp(0.95rem, 1vw, 1rem);
    color: rgb(252, 229, 216);
    margin-bottom: 10px;
  }
  
  label {
    cursor: default;
  }
  
  
  
  
  .inside-rightnav button:nth-child(1):hover {
    border-color: rgb(229, 124, 216);
    color: rgb(229, 124, 216);
  }
  
  
  
  
  
  
  
  
  
  
  
  .form-table button {
    margin-top: 30px;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
  }
  
  
  
  
  
  .underform-div2 input {
    width: 100%;
  }
  
  
  
  
  .underNavbar1 {
    display: flex;
    justify-content: space-between;
    margin-right: 42px;
    align-items: center;
    pointer-events: all;
  }
  
  
  
  .un1-child-1,
  .un2-child-1 {
    line-height: 1.35;
    cursor: pointer;
    font-size: 0.75rem;
    color: #2C1338;
    margin: 0 10px;
  }
  
  .un2-child-2 {
    line-height: 1.35;
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;
    margin: 0 10px;
  }
  
  .un2-child-1,
  .un2-child-2,
  .un2-child-3,
  .un2-child-4 {
    font-size: 18px;
    font-weight: bold;
    display: contents;
  }
  
  .un1-child-2,
  .un1-child-3,
  .un2-child-3 {
    line-height: 1.35;
    align-items: center;
    color: #2C1338;
    cursor: pointer;
    display: flex;
    font-size: 0.75rem;
    margin: 0 10px;
  }
  
  .un1-child-4,
  .un1-child-5,
  .un2-child-4 {
    line-height: 1.35;
    cursor: pointer;
    font-size: 0.75rem;
    color: #2C1338;
    margin: 0 10px;
  }
  
  #navbar2 a {
    text-decoration: none;
  }
  
  
  #navbar1 a {
    text-decoration: none;
  }
  
  #navbar1 a:hover {
    text-decoration: underline;
  }
  
  .form-div2-input {
    background: transparent;
    border: 2px solid rgb(171, 160, 175);
    height: 50px;
    padding-left: 15px;
    caret-color: rgb(44, 19, 56);
    font-size: 0.875rem;
    line-height: 1.35;
  }
  
  .form-div3-input {
  
    background: transparent;
    border: 2px solid rgb(171, 160, 175);
    height: 50px;
    padding-left: 15px;
    caret-color: rgb(44, 19, 56);
    font-size: 0.875rem;
    line-height: 1.35;
  }
  
  button,
  input,
  #pricing,
  select,
  textarea,
  optgroup {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: #FFF3ED;
    cursor: pointer;
  }
  
  .forgotpassword:hover {
    color: #E57CD8;
  }
  
  .form-direct-btn {
    margin-top: 30px;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
  }
  
  .form-direct-btn:hover {
    background-color: rgb(86, 66, 96);
  }
  
  .form-direct-btn {
    font-family: "GT Haptik Medium", sans-serif;
    font-size: 1rem;
    padding: 14px 35px;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 26px;
    border: 0px;
    cursor: pointer;
    display: flex;
    height: 52px;
    transition: background-color 150ms linear 0s, color 150ms linear 0s;
    background-color: rgb(229, 124, 216);
  }
  
  .form-div5 {
    margin-top: 45px;
  }
  
  .form-div5 a {
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
  }
  
  
  .sso {
    font-family: "GT Haptik Medium", sans-serif;
    font-size: 1rem;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 26px;
    border: 0px rgb(252, 229, 216);
    cursor: pointer;
    display: flex;
    transition: background-color 150ms linear 0s, color 150ms linear 0s;
    background-color: transparent;
    color: rgb(252, 229, 216);
    padding: 0px;
    height: auto;
    line-height: 1.5;
  }
  
  .sso:hover {
    color: #E57CD8;
    font: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .no-account {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .no-account span {
    line-height: 1.5;
    font-size: clamp(1.0125rem, 1.25vw, 1.125rem);
    color: rgb(255, 243, 237);
    margin-bottom: 30px;
  }
  
  .signupBtn {
    font-family: "GT Haptik Medium", sans-serif;
    font-size: 1rem;
    padding: 0px 35px;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 26px;
    border: 0px;
    cursor: pointer;
    display: flex;
    height: 52px;
    transition: background-color 150ms linear 0s, color 150ms linear 0s;
    background-color: rgb(229, 124, 216);
    color: rgb(255, 255, 255);
  }
  
  .signupBtn:hover {
    background-color: rgb(86, 66, 96);
  }
  
  .logo2 {
  
    width: 10%;
    height: auto
  }
  
  .logo2 img {
    width: 100%;
    margin-top: 10px;
  }
  
  .first-box {
    padding-right: 20px;
    padding-left: 10px;
    min-width: 12rem;
    flex: 1 1 0%;
  }
  
  .first-box-heading {
    font-family: system-ui;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 92%;
    letter-spacing: 0.5px;
    opacity: 0.6;
  }
  
  h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  
  .first-list {
    font-size: 0.875rem;
    line-height: 1.35;
    list-style: none;
    padding: 0px;
    margin: 0px 0px 35px;
  }
  
  .first-list li {
    line-height: 2;
  }
  
  .first-list a {
    text-decoration: none;
    transition: color 300ms linear 0s;
    color: rgb(255, 243, 237);
    cursor: pointer;
  }
  
  .footer1-div1 {
    color: rgb(255, 243, 237);
    z-index: 100;
    position: relative;
  }
  
  .footer1-div1-child1 {
    display: flex;
    background: rgb(44, 19, 56);
    flex-direction: column;
  }
  
  .child1-insider {
    padding: 45px 30px;
  }
  .list-items h5{
    font-family: sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 92%;
    margin: 10px 0px 6px;
    letter-spacing: 0.5px;
    opacity: 0.6;
  }
  .list-items li{
    text-decoration: none;
    transition: color 300ms linear 0s;
    color: rgb(255, 243, 237);
    cursor: pointer;
  }
  .list-items li:hover{
    color: #E57CD8;
  }
  .footer-link a{
    text-decoration: none;
    transition: color 300ms linear 0s;
    color: rgb(255, 243, 237);
    cursor: pointer;
  }
  .footer-link a:hover{
    color: #E57CD8;
  }
  
  .footer3{
      background: rgb(229, 124, 216);
      font-size: 0.875rem;
      line-height: 1.35;
      -webkit-box-align: center;
      align-items: center;
      display: flex;
      color: rgb(44, 19, 56);
  }
  
  body {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }